<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <a href="{% url 'category_list'%}">Home</a>
    <h2>{{category.name}}</h2>

    <a href="{% url 'task-create'%}">Add Task</a>
    <div>
        <table>
            <tr>
                <th>Items</th>

            </tr>

            {%for task in tasks%}
            <tr>
                <td>{{task.title}}</td>
                <td><a href="{% url 'task' task.id %}">View</a></td>
                <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
            </tr>
            {%endfor%}
        </table>


        
    </div>
</body>
</html>